<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
	<meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="application.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
	<script src="products.js"></script>
  </head>
  <body class="list-group" ng-controller="StoreController as store">
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>

	  <!-- Image Gallery  -->
      <div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">        
		<div class="img-wrap">
		<img ng-src="{{product.images[gallery.current]}}" />
		</div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail ng-scope" ng-repeat="image in product.images track by $index" ng-class="{ active : gallery.isCurrent($index)}">
            <a href ng-mouseover="gallery.setCurrent($index)" ng-mousclick="gallery.setCurrent($index)"><img ng-src="{{image}}" /></a>
          </li>
        </ul>
      </div>

	  <!-- Product Tabs  -->
      <product-tabs></product-tabs> 
    </div>
  </body>
</html>
